/.github/*                          @sodiqjonovich
/test/*                             @DotnetUzDev
/dbf/*                              @AkmalovAziz
/HeavyService.Domain/*              @AkmalovAziz
/HeavyService.Application/*         @DotnetUzDev
/HeavyService.DataAccess/*          @AkmalovAziz
/HeavyService.Persistance/*         @AkmalovAziz
/HeavyService.Service/*             @DotnetUzDev
/HeavyService.WebApi/*              @sodiqjonovich